* {
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body {
   padding-top: 10px;
   height: 100vh;
   display: flex; 
   justify-content: center;
   align-items: center;
}

.mainBox {
   width: 700px;
   height: 600px;
   background-color: #12384b; 
   display: flex;
 
   
}

.sidebar {
   background-color: #2f434e;
   width: 200px;
   height: 592px;

   position: relative;
   top: 0;
   left: 0;
   bottom: 0;

   padding: 8px 8px 0 8px;
   border-right: 2px solid #517c6e;
}

.sidebar-content {
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      gap: 50px;
      align-items: center;
}

.sidebar-content span {
   font-size: 2rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   padding-top: 10px;
   color: #898987;
   border-bottom: 2px solid #567b8e;
   border-bottom-width: 3px;
}

.sidebar-content span:hover { 
   color: #c6c6c5;
   transition-duration: 1s;
   text-shadow: 3px 2px 3px #517c6e;
   cursor: default;
}

.sidebar-menu {
      display: flex;
      justify-content: center;
      padding: 4px;
      margin-left: 38px;
}

.sidebar-menu ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 18px;
   align-items: baseline;
}

.sidebar-menu ul li a {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.2rem;
   font-weight: 400;
   color: #c6c6c5;
}



.sidebar-menu ul li a:hover { 
   color: #898987;
   transition: 3ms;
  
}

/* .sidebar-menu ul li a:target {
   color: brown;
} */


.main {
   background-color: #898987;
   width: 482px;
   
}

main { 
   display: flex;
}

main header { 
   display: flex;
   justify-content: space-evenly;
   gap: 28px;
   background-color: #517c6e;
   align-items: center;
   width: 600px;
   height: 60px;
   position: relative;
   top: 0;

}


main header nav {
   display: flex;
   gap: 18px;
   margin-left: 10px;
}

main header nav a { 
   color: #cdcdc4;
   font-size: 1.2rem;
   font-weight: 500;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
}

main header nav a:hover {
   border-bottom: 2px solid #2f434e;
}

main input { 
   padding: 6px;
   border-radius: 8px; 
   border: none;
   outline: none;
   background-color: #f6f6f6;
}

main input:focus { 
   border: 3px solid #375c6e;
}

